#main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: 'Cookie','Arial';
    position: relative;
}

body{
    background: url('music.jpg')no-repeat!important;
}

#menue{
    font-size: 80px;
    margin: auto;
    display: flex;
    width: 100%;
    z-index: 1;
    line-height: 50px; 
    justify-content: space-around;
    position: relative;
    z-index: 1; 
}

.youMix{
    /*font-family: 'Cookie','Arial';*/
    text-align: center;
    font-size: 100px;
    border: 2px solid white;
    box-shadow: 4px 4px 5px black;
    color: #970000;
    text-shadow:2px 2px blue;
}

#signIn{
    border: 3px solid red;
    background: #970000;
    margin-top: 10%;
}
#signIn:hover{
    background: #ff0000;
    cursor:pointer;
}

#connexion{
    border: 3px solid blue;
    background: #2382ff;
    margin-top: 10%;
}

#connexion:hover{
    background: #204677;
    cursor:pointer;
}

.formInscription{
    border: 10px solid red; 
    box-shadow: 3px 3px 3px black;
    width: 40%;
    height: 100%;
    /*flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    line-height: 30px;    
    margin: auto;  
    position: relative;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.ident{
    flex-direction: column;
    width: 80%;
    border: 2px solid mediumblue;  
    justify-items: space-around;
}

#pseudo{
    margin-top: 5%;
}

.formConnexion{
    border: 10px solid red; 
    box-shadow: 3px 3px 3px black;
    width: 40%;
    height: 100%;
    /*flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    line-height: 30px;    
    margin: auto;  
    position: relative;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    /*float: center;*/
    font-size: 25px;
}

.img{
    position: relative;
    z-index: -10;
}