body{

 
  background: linear-gradient(#a80000,#ffffff, #960303);
  width: 100%;
    
}

.main{
    display: flex;
    flex-direction: column;
    width:100%;    
}

header{
    display: flex;
    box-shadow: 2px 2px 4px black;
}


.youMix{
    border: 3px solid white;
    width: 25%;
    font-size: 35px;
}

.userName{
    border: 3px solid  white;
    width:75%;
    justify-content: center;
    font-size:40px;
}
h1{
    
    text-align: center;
    color: $h1color;
    font-family: $fontFamily_h1, 'Arial';
    font-size: $fontSize_h1;
    text-shadow: 20px 20px 20px black;
   // border: 5px solid black;
}

h3{
    font-family: $fontFamily_h3;
    font-size: 40px;
}


.visible{
   
    color:$titleColor;
    font-size: $fontSize_titleM;
    font-family: $fontFamily_titleM;
    line-height: 50px;
    

    &:hover{
        cursor: pointer;
        font-weight: bold;
    }
}


#player{
    margin: 0;
    border: 4px solid black;
    
}

.playVideo{
    margin:auto;
    margin-top: 5%;
    width: auto;
    margin-bottom: 5%;
    border: 4px solid black;
    background: black;
  
}

.videoList{

   // border: 4px solid white;
   margin-top:5%;
    display: flex;
    justify-content: space-around;
}

.video{
    border-right: 4px solid white;
    padding-right:5%;
    width: 25%;
    margin-top: 0;
}

h2{
    font-family: $fontFamily_h2, 'Arial';
    text-align: center;
    font-size: 50px;
}


.formTitle{
    border: 4px solid black;
    background: rgba($color: #ffffff, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    font-size:20px;
    margin: auto;
    margin-top:6%;
    width: 60%;
    padding: 3px;
  
}

.formAdd_title{
    width: 60%;
    margin-top: 50px;
    margin: auto;
    align-items: center;
    

}

input{
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-family: $fontFamily_input, 'Arial';
    flex-direction: column;
} 


.champs{
    display: flex;
   justify-content: space-between;
}

label{
    font-family: $fontFamily_input;
}