

body{
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(5rem + 72px);
  padding-bottom: 10rem;
  margin:auto;
 
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 2rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
  text-align: center;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}
@media (min-width: 992px) {
  header.masthead {
   /* padding-top: calc(11rem + 50px);*/
    padding-bottom: 12.64em;
  
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 3rem;
    text-align: center;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
    text-align: center;
  }
}


.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

