/*Font-family */
/*font-size*/
/* Color */
body {
  background: linear-gradient(#a80000, #ffffff, #960303);
  width: 100%; }

.main {
  display: flex;
  flex-direction: column;
  width: 100%; }

header {
  display: flex;
  box-shadow: 2px 2px 4px black; }

.youMix {
  border: 3px solid white;
  width: 25%;
  font-size: 35px; }

.userName {
  border: 3px solid  white;
  width: 75%;
  justify-content: center;
  font-size: 40px; }

h1 {
  text-align: center;
  color: white;
  font-family: "Cookie", "Arial";
  font-size: 68px;
  text-shadow: 20px 20px 20px black; }

h3 {
  font-family: "Cookie";
  font-size: 40px; }

.visible {
  color: #000000;
  font-size: 30px;
  font-family: "Lobster Two";
  line-height: 50px; }
  .visible:hover {
    cursor: pointer;
    font-weight: bold; }

#player {
  margin: 0;
  border: 4px solid black; }

.playVideo {
  margin: auto;
  margin-top: 5%;
  width: auto;
  margin-bottom: 5%;
  border: 4px solid black;
  background: black; }

.videoList {
  margin-top: 5%;
  display: flex;
  justify-content: space-around; }

.video {
  border-right: 4px solid white;
  padding-right: 5%;
  width: 25%;
  margin-top: 0; }

h2 {
  font-family: "Cookie", "Arial";
  text-align: center;
  font-size: 50px; }

.formTitle {
  border: 4px solid black;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: auto;
  margin-top: 6%;
  width: 60%;
  padding: 3px; }

.formAdd_title {
  width: 60%;
  margin-top: 50px;
  margin: auto;
  align-items: center; }

input {
  height: 40px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Lobster Two", "Arial";
  flex-direction: column; }

.champs {
  display: flex;
  justify-content: space-between; }

label {
  font-family: "Lobster Two"; }

/*# sourceMappingURL=acceuil.css.map */
